{{define "base"}}
<!doctype html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>URL Shortener</title>
        <link href="/static/daisyui/daisyui.css" rel="stylesheet" type="text/css" />
        <link href="/static/daisyui/themes.css" rel="stylesheet" type="text/css" />
        <script src="/static/daisyui/tailwind-browser.js"></script>
    </head>
    <body class="{{ block "body-class" . }}min-h-screen flex flex-col{{ end }}">
        <main class="flex-1">
            {{ block "content" . }}{{ end }}
        </main>
        {{ block "footer" . }}{{ end }}
    </body>
</html>
{{end}}
